DEBUG=False
DJANGO_ENV=production
SECRET_KEY=
DATABASE_URL=
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
SECURE_SSL_REDIRECT=True
STATIC_ROOT=
MEDIA_ROOT=
DISABLE_AUTO_SEED=false
RUN_MIGRATIONS_ON_BUILD=false
RUN_MIGRATIONS_ON_STARTUP=false

MOYASAR_ENABLED=false
MOYASAR_PUBLISHABLE_KEY=
MOYASAR_SECRET_KEY=
MOYASAR_WEBHOOK_SECRET=
MOYASAR_CALLBACK_URL=

BANK_TRANSFER_ENABLED=true
BANK_ACCOUNT_NAME=
BANK_NAME=
BANK_IBAN=
BANK_ACCOUNT_NUMBER=
BANK_TRANSFER_INSTRUCTIONS=
